<%= bootstrap_form_for(@cohort, local: true) do |form| %>
  <% if cohort.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cohort.errors.count, "error") %> prohibited this cohort from being saved:</h2>

      <ul>
      <% cohort.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.text_field :name, placeholder: "Name" %>
    <%= form.text_field :course_id, placeholder: "Course" %>
    <%= form.date_field :start_date %>
    <%= form.date_field :end_date %>
    <%= form.submit "Submit", class: "btn btn-info" %>
<% end %>
