<p id="notice"><%= notice %></p>

<div class="section-header">
  <h1>Cohorts</h1>
  <%= link_to new_cohort_path do %>
    <i class="fas fa-plus-circle"></i> Cohorts
  <% end %>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Course</th>
      <th scope="col">Start date</th>
      <th scope="col">End date</th>
    </tr>
  </thead>

  <tbody>
    <% @cohorts.each do |cohort| %>
      <tr>
        <td><%= link_to cohort.name, cohort %></td>
        <td scope="row"><%= cohort.course_id %></td>
        <td scope="row"><%= cohort.start_date.strftime("%B %d, %Y") %></td>
        <td scope="row"><%= cohort.end_date.strftime("%B %d, %Y") %></td>
        <td scope="row" class="text-center">
          <%= link_to edit_cohort_path(cohort) do %>
            <i class="far fa-edit"></i>
          <% end %>
        </td>
        <td scope="row" class="text-center">
          <%= link_to cohort, method: :delete, data: { confirm: 'Are you sure you want to delete?' } do %>
            <i class="fas fa-minus-circle"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>