<p id="notice"><%= notice %></p>

<div class="section-header">
  <h1>Students</h1>
  <%= link_to new_student_path do %>
    <i class="fas fa-plus-circle"></i> Students
  <% end %>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Last name</th>
      <th scope="col">First name</th>
      <th scope="col">Age</th>
      <th scope="col">Cohort ID</th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td scope="row"><%= link_to student.last_name, student %></td>
        <td scope="row"><%= student.first_name %></td>
        <td scope="row"><%= student.age %></td>
        <td scope="row"><%= student.cohort_id %></td>
        <td scope="row" class="text-center">
          <%= link_to edit_student_path(student) do %>
            <i class="far fa-edit"></i>
          <% end %>
        </td>
        <td scope="row" class="text-center">
          <%= link_to student, method: :delete, data: { confirm: 'Are you sure you want to delete?' } do %>
            <i class="fas fa-minus-circle"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>