<div class="section-header">
  <h1>Student Info</h1>
</div>

<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @student.age %>
</p>

<div class="buttons">
  <%= button_tag 'Edit', onclick: "location.href='#{edit_student_path(@student)}'", class: "btn btn-info" %>
  <%= button_tag 'Back', onclick: "location.href='#{students_path}'", class: "btn btn-info" %>
</div>

<h3>
  Enrolled cohorts
  <%= link_to addcohort_path(@student) do %>
    <i class="fas fa-plus-circle"></i>
  <% end %>
</h3>

<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th scope="col"><%= sortable "name" %></th>
    <th scope="col">Course</th>
    <th scope="col"><%= sortable "start_date", "Start Date" %></th>
    <th scope="col"><%= sortable "end_date", "End Date" %></th>
  </tr>
  </thead>

  <tbody>
  <% @student.cohorts.each do |cohort| %>
    <tr>
      <td><%= link_to cohort.name, cohort %></td>
      <td scope="row"><%= cohort.course.name %></td>
      <td scope="row"><%= cohort.start_date.strftime("%B %d, %Y") %></td>
      <td scope="row"><%= cohort.end_date.strftime("%B %d, %Y") %></td>
      <td scope="row" class="text-center">
        <%= link_to edit_cohort_path(cohort) do %>
          <i class="far fa-edit"></i>
        <% end %>
      </td>
      <td scope="row" class="text-center">
        <%= link_to cohort, method: :delete, remote: true, data: { confirm: 'Are you sure you want to delete?' } do %>
          <i class="fas fa-minus-circle"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>