<%= bootstrap_form_for(@instructor, local: true) do |form| %>
  <% if instructor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(instructor.errors.count, "error") %> prohibited this instructor from being saved:</h2>

      <ul>
      <% instructor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.text_field :first_name, placeholder: "First name" %>
    <%= form.text_field :last_name, placeholder: "Last name" %>
    <%= form.select :age, (1..149) %>
    <%= form.number_field :salary, placeholder: "Yearly Salary" %>
    <%= form.select :education, Instructor.education %>
    <%= form.select :cohort_id, @cohorts, include_blank: true %>
    <%= form.submit "Submit", class:"btn btn-info" %>

<% end %>
