<p id="notice"><%= notice %></p>

<div class="section-header">
  <h1>Instructors</h1>
  <%= link_to new_instructor_path do %>
    <i class="fas fa-plus-circle"></i> Instructors
  <% end %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Last name</th>
      <th scope="col">First name</th>
      <th scope="col">Age</th>
      <th scope="col">Salary</th>
      <th scope="col">Education</th>
      <th scope="col">Cohort</th>
    </tr>
  </thead>

  <tbody>
    <% @instructors.each do |instructor| %>
      <tr>
        <td scope="row"><%= link_to instructor.last_name, instructor %></td>
        <td scope="row"><%= instructor.first_name %></td>
        <td scope="row"><%= instructor.age %></td>
        <td scope="row"><%= number_to_currency(instructor.salary, precision: 0) %></td>
        <td scope="row"><%= instructor.education %></td>
        <td scope="row"><%= instructor.cohort.name %></td>
        <td scope="row" class="text-center">
          <%= link_to edit_instructor_path(instructor) do %>
            <i class="far fa-edit"></i>
          <% end %>
        </td>
        <td scope="row" class="text-center">
          <%= link_to instructor, method: :delete, data: { confirm: 'Are you sure you want to delete?' } do %>
            <i class="fas fa-minus-circle"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>