<p id="notice"><%= notice %></p>

<div class="section-header">
  <h1>Instructors</h1>
  <%= link_to new_instructor_path do %>
    <i class="fas fa-plus-circle"></i> Instructors
  <% end %>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Last name</th>
      <th scope="col">First name</th>
      <th scope="col">Age</th>
      <th scope="col">Salary</th>
      <th scope="col">Education</th>
      <th scope="col">Cohort ID</th>
    </tr>
  </thead>

  <tbody>
    <% @instructors.each do |instructor| %>
      <tr>
        <td scope="row"><%= link_to instructor.last_name, instructor %></td>
        <td scope="row"><%= instructor.first_name %></td>
        <td scope="row"><%= instructor.age %></td>
        <td scope="row"><%= instructor.salary %></td>
        <td scope="row"><%= instructor.education %></td>
        <td scope="row"><%= instructor.cohort_id %></td>
        <td scope="row"><%= link_to 'Edit', edit_instructor_path(instructor) %></td>
        <td scope="row"><%= link_to 'Destroy', instructor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>