<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @instructor.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @instructor.last_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @instructor.age %>
</p>

<p>
  <strong>Salary:</strong>
    <%= number_to_currency(@instructor.salary, precision: 0) %>
</p>

<p>
  <strong>Education:</strong>
  <%= @instructor.education %>
</p>

<p>
  <strong>Cohort ID:</strong>
  <%= @instructor.cohort_id %>
</p>

<%= link_to 'Edit', edit_instructor_path(@instructor) %> |
<%= link_to 'Back', instructors_path %>
