<% if user_signed_in? %>
  <h1>Welcome</h1>
  <p>Manage your educational platform.</p>
  <p>Available groups are:</p>
  <ul>
    <li>Courses</li>
    <li>Cohorts</li>
    <li>Instructors</li>
    <li>Students</li>
  </ul>
<% else %>
<div>Default admin info: kevin@gmail.com, password</div>
  <div id="landing">
    <h2>Manage your admin panel</h2>

    <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <%= f.check_box :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in", class: "btn btn-info" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
<% end %>