<%= bootstrap_form_for(@course, local: true) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.text_field :name, placeholder: "Name" %>
    <%= form.number_field :class_hours, placeholder: "Class Hours" %>
    <%= form.submit "Submit", class:"btn btn-info" %>
<% end %>
