<p id="notice"><%= notice %></p>

<div class="section-header">
  <h1>Courses</h1>
  <%= link_to new_course_path do %>
    <i class="fas fa-plus-circle"></i> Courses
  <% end %>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Class hours</th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.name, course %></td>
        <td scope="row"><%= course.class_hours %></td>
        <td scope="row" class="text-center">
          <%= link_to edit_course_path(course) do %>
            <i class="far fa-edit"></i>
          <% end %>
        </td>
        <td scope="row" class="text-center">
          <%= link_to course, method: :delete, data: { confirm: 'Are you sure you want to delete?' } do %>
            <i class="fas fa-minus-circle"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>