<!DOCTYPE html>
<html>
  <head>
    <title>AdminPanel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless user_signed_in? %>
      <div id="signin-container">
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>
          <div id="signin" class="fadeIn">
            <i class="fas fa-graduation-cap pulse"></i>
            <%= yield %>
          </div>
      </div>
    <% else %>
      <%= render "shared/header" %>
      <div id="wrapper" class="container-fluid row">
        <%= render "shared/navbar" %>
        <div class="main-content col-md-10">
          <div id="main" class="container">
            <% flash.each do |key, value| %>
              <div class="alert alert-<%= key %>"><%= value %></div>
            <% end %>
            <%= yield %>
          </div>
        </div>
      </div>
    <% end %>
  </body>
</html>