<!DOCTYPE html>
<html>
  <head>
    <title>AdminPanel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="main-header">
      <h4>Admin Panel</h4>
    </header>
    <div id="wrapper" class="container row">
      <div id="left-navbar-container" class="col-md-2">
        <ul class="nav flex-column">
          <li id="dashboard" class="nav-item">
            <a class="nav-item active" href="#">Dashboard</a>
          </li>
          <li class="nav-item">
            <%= link_to "Courses", courses_path %>
          </li>
          <li class="nav-item">
            <%= link_to "Cohorts", cohorts_path %>
          </li>
          <li class="nav-item">
            <%= link_to "Instructors", instructors_path %>
          </li>
          <li class="nav-item">
            <%= link_to "Students", students_path %>
          </li>
        </ul>
      </div>
      <div class="col-md-10">
        <div id="main" class="container">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
